/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: 'Bank Gothic Light';
    font-style: normal;
    font-weight: normal;
    src: local('Bank Gothic Light'), url('../fonts/bank-gothic-light.woff') format('woff');
}

@font-face {
    font-family: 'Bank Gothic Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Bank Gothic Medium'), url('../fonts/bank-gothic-medium.woff') format('woff');
}

:root {
    --headerBkgColor: #dfdfdf;
    --raydreamsColor: #21598A;
    --hoverColor: #ececec;
    --downColor: #fcfcfc;
}

body {
    background-color: #fcfcfc;
}

.navHover {
    background-color: var(--hoverColor);
    border-radius: 0.3em;
}

.navDown {
    background-color: var(--downColor);
    border-radius: 0.3em;
}

.social-icon {
    margin: 4px !important;
    padding: 0px !important;
}

.colorSwatch {
    border: 0px solid black;
    padding: 5px;
}

.aboutImage { max-width:400px; float: left !important; margin-right: 1rem !important }